@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300);

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.academics {
  min-width: 110px;
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.academics1 {

  overflow: hidden;
  position: relative;
  align-items: center;
  justify-items: center;
}