@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300);

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
 
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
 

@media only screen and (max-width: 1500px) {
  .contact_pg {
    padding-bottom: 0px;
  }
}

 
.inrpagbdy_sec {
  padding: 50px 0 70px;
}

 
@media only screen and (max-width: 1500px) {
  .inrpagbdy_sec .container {
    width: 90%;
  }
}

.comn_sec .container {
  width: 84%;
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (max-width: 1500px) {
  .breadcrumbs {
    margin-bottom: 50px;
  }
}
.breadcrumbs {
  margin-bottom: 80px;
}
.inrpagbdy_sec h2,
.knim h2 {
  position: relative;
  display: inline-block;
}

@media only screen and (max-width: 1500px) {
  .inrpagbdy_sec h2 {
    font-size: 26px;
  }
}

.inrpagbdy_sec h2 {
  font-weight: bold;
  font-size:25px;
  color: #161616;
} 
@media (max-width: 767px){
  .mvision_pag ol li, .inrpagbdy_sec p, .abut_pg .row p {
    font-size: 14px;
}
}

@media only screen and (max-width: 520px){
.abut_pg p {
    line-height: 25px;
    margin-bottom: 25px;
}
}

@media only screen and (max-width: 1500px){
  .abut_pg p {
    font-size: 15px;
    line-height: 32px;
    margin-bottom: 25px;
}
}

.abut_pg p {
    font-size: 1.5rem;
    font-weight: 300;
    color: #373737;
    line-height: 36px; 
     margin-bottom: 30px;
}
p {
    text-align: justify !important;
}
div, ul, li, p, form, h5, h6, h1, h2, p {
    margin: 0;
    padding: 0;
}
p {
    margin: 0 0 10px;
}
 
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.inrpagbdy_sec h2:before,
.knim h2:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: -12px;
  height: 3px;
  width: 80px;
  background: #FFC000;
}
 

@media only screen and (max-width: 1500px) {
  .breadcrumbs {
    margin-bottom: 50px;
  }
}

.breadcrumbs {
  margin-bottom: 70px;
}
ol,
ul {
  margin-top: 0;
  margin-bottom: 10px;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

@media only screen and (max-width: 1500px) {
  .breadcrumbs ul li {
    font-size: 14px;
  }
}

.breadcrumbs ul li {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  font-weight: 400;
  padding-right: 20px;
}
 

.breadcrumbs ul li:first-child:after {
  content: "";
  background: url(../images/bcamp_arow.png) right center no-repeat;
  padding: 0 1em;
  width: 6px;
  height: 10px;
}
  
 
@media only screen and (max-width: 1500px) {
  .abut_pg .row {
    margin-top: 30px;
    margin-bottom: 40px;
  }

}
 
.abut_pg .row {
  margin-top: 40px;
  margin-bottom: 100px;
}  

  .row {
  margin-right: -15px;
  margin-left: -15px;
}  
 
.btn-group-vertical>.btn-group:after,
.btn-group-vertical>.btn-group:before,
.btn-toolbar:after,
.btn-toolbar:before,
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.dl-horizontal dd:after,
.dl-horizontal dd:before,
.form-horizontal .form-group:after,
.form-horizontal .form-group:before,
.modal-footer:after,
.modal-footer:before,
.modal-header:after,
.modal-header:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.pager:after,
.pager:before,
.panel-body:after,
.panel-body:before,
.row:after,
.row:before {
  display: table;
  content: " ";
}
  
@media (min-width: 992px) {
  .col-md-6  {
    float: left;
  }
}

 
.col-md-6  {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
 
@media (min-width: 992px) {
  .col-md-6 {
    width: 50%;
  }
} 

 
.cont_adrs_cel h5 {
  font-weight: 600;
  font-size: 24px;
  line-height: 58px;
  color: #000;
}
 
 
 
  h5 {
  display: block;
  font-size: 0.70em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}  

.cont_adrs_cel h5 .icn_crcl {
  width: 60px;
  height: 60px;
      
  margin-right: 15px;
  display: block;
  padding: 10px;
  float: left;
}

 
.cont_adrs_cel h5 {
  font-weight: 600;
  font-size:20px;
  line-height: 58px;
  color: #000;
}

.contact_pg .cont_adrs_cel p {
  margin-bottom: 6px;
  padding-left: 76px;
}

.contact_pg .row p {
  padding-left: 0px;
}

@media only screen and (max-width: 1500px) {
  .abut_pg .row p {
    font-size: 16px;
    line-height: 28px;
    padding-left: 80px;
    margin-bottom: 5px;
  }
}

.abut_pg .row p {
  padding-left: 100px;
}

.cont_adrs_cel p {
  font-weight: 400;
  font-size: 18px;
  color: #000;
  line-height: 40px;
  margin-bottom: 0px;
  float: left;
  width: 100%;
}

.cont_adrs_cel p strong {
color: #005F8E;
}
b,strong {
  font-weight: 700;
}

@media only screen and (max-width: 1500px) {
  .abut_pg .row p {
    font-size: 16px;
    line-height: 28px;
    padding-left: 80px;
    margin-bottom: 5px;
  }
} 
@media (min-width: 992px) {
  .col-md-6 {
    width: 50%;
  }
} 
.contact_pg h4 {
  font-weight: 600;
  font-size:20px;
  display:inline;
  margin-left: 6px;
  line-height: 34px;

} 
  .h4,
.h5,
.h6,
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
 
  .cont_adrs_cel {
  float: none;
  overflow: hidden;
  margin-bottom: 30px;
  padding-right: 10px;
}  
 

.flow_socl ul li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  margin: 4px;
  padding: 0px;
  
}
 
  li {
  display: list-item;
  text-align: -webkit-match-parent;
} 

.contact_pg form {
  margin-top:3rem;
}
 
@media (max-width: 1024px) {
  .contact_pg form .nput_fild {
    height: 46px;
  }
}

@media only screen and (max-width: 1500px) {

  .contact_pg form .nput_fild,
  .contact_pg form .nput_fild2,
  .contact_pg form select {
    margin-bottom: 18px;
  }
}

@media only screen and (max-width: 1500px) {

  .contact_pg form .nput_fild,
  .contact_pg form select {
    height: 54px;
  }
}

.contact_pg form .nput_fild,
.contact_pg form select {
  float: right;
  background: #ffffff;
  border: 1px solid #E6DDDD;
  box-sizing: border-box;
  height: 50px;
  box-shadow: 0px 16px 17px rgb(210 210 210 / 25%);
  border-radius: 2px;
  font-weight: 300;
  font-size: 1.5rem;
  /* line-height: 30px; */
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 20px;
   
} 
input {
  line-height: normal;
} 
input[type="text"i] {
  padding: 1px 2px;
}

@media only screen and (max-width: 1500px) {

  .contact_pg form .nput_fild,
  .contact_pg form .nput_fild2,
  .contact_pg form select {
    margin-bottom: 18px;
  }
}


.contact_pg form .nput_fild2 {
  background: #FFFFFF;
  border: 1px solid #E6DDDD;
  box-sizing: border-box;
  box-shadow: 0px 16px 17px rgb(210 210 210 / 25%);
  border-radius: 1px;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 35px;
  float: right;
}

textarea.form-control {
  height: auto;
}
.form-control {
  display: block;
  width: 90%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

 
textarea {
  overflow: auto;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}  
@media only screen and (max-width: 1500px) {
  .contact_pg .submit_btn {
    height: 55px;
  }
}

.contact_pg .submit_btn {
  width: 150px;
  transition: 0.6s;
  float: right;
  height: 50px;
  background: #005F8E;
  border-radius: 8px;
  border: 0px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;

}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

.flow_socl ul {
    margin: 0px 0px 0px 15px;
    padding: 0px;
    float: left;
}
div, ul, li, p, form, h5, h6, h1, h2, p {
    margin: 0;
    padding: 0;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
@media (max-width: 991px){
  .flow_socl ul li {
    width: 36px;
    margin: 1px 0px;
}
}


.flow_socl ul li {
    list-style: none;
    display: inline-block;
    vertical-align: top;
    margin: 6px;
    padding: 0px;
}
 
.cont_adrs_cel {
  float: none;
  overflow: hidden;
  margin-bottom: 20px;
  padding-right: 10px;

}
  
