@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300);

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: montserrat;
}

.header {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 100%;
  height: 100px;
  color: #f0f0f0;
  top: 0;
  overflow: hidden;
  background-size: cover;
  background-color: #222A35;

}

/*  START   LOGIN INFORMATION */

.header ul {
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  width: 30%;
  min-width: 350px;
  /*  height: 160px; */
  float: left;
  padding: 7px;
  align-items: center;
  position: relative;
  display: inline-flex;
}

.header li {
  padding-right: 10px;

}

li .logindp {
  width: 37px;
  height: 37px;
  display: inline-block;
}

.logindp img {
  width: 100%;
  height: 100%;
  align-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  display: flex;
  overflow: hidden;
  position: relative;
}

ul .loginname {

  border: 1px solid #7F7F7F;
  color: rgb(247, 247, 247);
  padding: 6px 18px;
  margin: 10px;
  position: relative;
  text-align: center;
  align-items: center;
  display: block;
}

ul .logout {
  height: 40px;
  padding: 7px 16px;
  background-color: #C55A11;
  text-align: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

ul .logout:hover {
  background-color: #a5480b;
}

/*  END  LOGIN INFORMATION   ============ */

/*    START   STUDENT DETAIL   ================ */

.studentdetail {
  position: relative;
  min-width: 250px;
  width: 69%;
  float: right;
  justify-content: right;
  align-items: center;
  display: flex;
  cursor: pointer;

}

.studentdetail a {
  right: 10px;
  position: absolute;
  padding: 8px 40px;
  background-color: rgb(238, 238, 238);
  color: rgb(19, 19, 19);

  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}

.studentdetail a:hover {
  background-color: rgb(214, 212, 212);
}

.studentdetail a:active {
  background-color: #c5c4c4;
  box-shadow: 0 2px #666;
  transform: translateY(1px);
}


/*  end header  === */

/* ====   START   HEADMASTER DETAIL  === */


.headmaster {
  background-color: #F2F2F2;
  position: relative;
  width: 100%;
  height: 100vh;
  display: -ms-flexbox;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
}

.headmasterbox {
  width: 100%;
  height: auto;
  position: relative;
  display: block;
}

.headmasterbox li {
  background-color: #333F50;
  color: #f5f5f5;
  display: inline-flex;
  margin: 30px;
  margin-top: 50px;
  padding: 6px 20px;
  border-radius: 2px;
  cursor: pointer;
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}

.headmasterdetail {
  background-color: #F2F2F2;
  width: 100%;
  height: 80vh;
  position: relative;
  display: flex;
  justify-content: center;
}

.headmasterdetail ul {
  top: 30%;
  padding: 20px;
  columns: 2;
  width: 400px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.headmasterdetail li {
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  padding: 5px;
  color: #3f3e3e;
  font-size: 19px;
}


/*====START==========MAIN =========== */

#show2 {
  display: none;
}

.stlist {

  display: -ms-flexbox;
  -ms-flex: auto;
  flex: auto;
  position: relative;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;

}

.stlist1 {
  background-color: #FFFFFF;
  position: relative;
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
}

.stlist01 {

  width: 24%;
  height: 100%;
  align-items: center;
  position: relative;
  display: flex;
  min-width: 140px;
}

/*  DROP DOWN BUTTON    START */

.dropdown-menu {
  border-radius: 3px;
  position: absolute;
  min-width: 160px;
  overflow: auto;
  z-index: 1;
  min-width: 160px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.432);
  color: #464646;
  transition: all .3s;
  transform: translate(-120%);
}

.dropdown-menu li {
  position: relative;
  display: block;
  background-color: #ebe5e5;
  color: #595959;
  padding: 8px 16px;
  margin: 5px;

  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.175);
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.dropdown-menu li:hover {
  background-color: #c5c4c4;
}

.dropdown-menu li:active {
  background-color: #c5c4c4;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

.dropdown-menu.open {
  transform: translate(0%);
}

.btn-group-vertical {
  position: relative;
  vertical-align: middle;
}

.btn-default {
  /* background: #dedede;
background: rgba(0, 0, 0, 0.13); */
  border: 1px solid #2E92FA;
  color: #464646;
}

.btn-default:hover {
  background-color: #dfdfdf;
}

.btn-group {
  min-width: 100px;
  position: relative;
  display: inline-flex;
  width: 60%;
  padding-left: 20px;
}

.dropdown-toggle {
  cursor: pointer;
  width: 90%;
  height: 27px;
  min-width: 60px;
  border: 1px solid #949494;
  background-color: rgb(243, 243, 243);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #595959;
  font-weight: bold;

}

/*  drop down  end == */



.stlist .search {
  width: 50%;
  height: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}

.search a {
  color: #4e4c4c;
}

.search .searchterm {
  font-style: italic;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 13px;
  width: 30%;
  line-height: normal;
  border-radius: 2px;
  border: 1px solid #949494;
}

.stlist .totaldtudent {
  position: relative;

  width: 25%;
  height: 100%;
  min-width: 140px;
  justify-content: right;
  align-items: center;
  display: inline-flex;
}

.totaldtudent a {
  position: relative;
  margin: 4px;
  color: #7F7F7F;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.totaldtudent .tstudent {
  color: #404040;
  padding: 4px 23px;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #949494;
  position: relative;
  display: inline-flex;

}

/*   show data  start === */

.stmain2 {
  width: 100%;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;

}

.sodata {
  display: inline-block;

  position: relative;
  width: 97%;
}

#myTable {

  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 7px;

}

#myTable td {

  font-weight: 500;
  font-size: 13px;
  border-bottom: 1px solid hsl(0, 0%, 75%);
  border-collapse: separate;
  padding: 10px;
  padding-left: 60px;
  padding-top: 15px;
  padding-bottom: 7px;

}

#myTable th {
  /* border-bottom: 1px solid #BFBFBF; */
  padding-left: 60px;
  border-collapse: separate;
}

/* #myTable tr:nth-child(even){background-color: #f2f2f2;}   */

/* #myTable tr:hover {background-color: #ddd;} */

#myTable th {
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  padding-top: 9px;
  padding-bottom: 7px;
  text-align: left;
  background-color: #006666;
  color: white;
  position: relative;
}